# Ignore everything
*
# But descend into directories
!*/
# These specifically belong in source
!/.github/**
!/defaults/**
!/files/**
!/handlers/**
!/meta/**
!/molecule/**
!/roles/requirements.yml
!/tasks/**
!/templates/**
!/vars/**
!/venv/requirements.txt
!/.ansible-lint
!/.ansible-lint-ignore
!/.editorconfig
~/.gitattributes
!/.gitignore
!/.prettierrc
!/.yamllint
!/ansible.cfg
!/inventory
!/LICENSE
!/local.yml
!/README.md
